// *{
//   border: solid 1px;
// }

body{
  background-color: rgb(212, 208, 208);
}

.blue {
  background-color: blue;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.purpul{
  background-color: purple;
}